@model IEnumerable<HomePlanIt.Models.ProjectDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Details of My DIY Projects</h2>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetedAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalCost)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BudgetedAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCost)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>
<div>
    @Html.ActionLink("Add New Project", "Create")
</div>
<div>
    @Html.ActionLink("Edit this Project", "Edit")
</div>
<div>
    @Html.ActionLink("Delete this Project", "Delete")
</div>
<div>
    @Html.ActionLink("See All Projects", "Index")
</div>
