@model IEnumerable<HomePlanIt.Models.DIYListItem>

@{
    ViewBag.Title = "Index";
}

<h2>All of My DIY Projects</h2>

<p>
    @Html.ActionLink("CreateNew", "Create")
</p>

@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        @ViewBag.SaveResult
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProjectName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProjectName)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.DIYId }) |
            @Html.ActionLink("Details", "ProjectDetail","Supply", new { id=item.DIYId }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.DIYId })
        </td>
    </tr>
}

</table>
