@model IEnumerable<HomePlanIt.Models.RoadblockListItem>

@{
    ViewBag.Title = "Index";
}

<h2>My Checklist for Roadblocks</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RoadblockName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Plan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsComplete)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoadblockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsComplete)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoadblockId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RoadblockId })
            </td>
        </tr>
    }

</table>
